header 
	.container-fluid
		a.techademy(href="#")
			| Techademy
		ul.navigation
			li.homepage
				a(href="#")
					span.glyphicon.glyphicon-home
			li.text-right.close-navs
				a.close-nav(href="#")
					| &times;
			li
				a(href="#")
					| Course Catalogue
			li
				a(href="#")
					| My Learning
			li
				a(href="#")
					| My Skills
			li
				a(href="#")
					| Assignments
	
