header 
	.container-fluid
		a.techademy(href="#")
			| Techademy
		ul.navigation
			li.homepage
				a(href="#")
					span.glyphicon.glyphicon-home
			li.text-right.close-navs
				a.close-nav(href="#")
					| &times;
			li
				a(href="#")
					| Course Catalogue
			li
				a(href="#")
					| My Learning
			li
				a(href="#")
					| My Skills
			li
				a(href="#")
					| Assignments
			li.viewBadges
				a.badgeDrop(href="#")
					span.badges.badge1
					span.badges.badge2
					span.badges.badge3
					span.badges.badge4
					span.glyphicon.glyphicon-menu-down
				.drop-down.d-none
					a(href="#")
						.badges.badge1
					a(href="#")
						.badges.badge2
					a(href="#")
						.badges.badge3
					a(href="#")
						.badges.badge4
					a(href="#")
						.badges.badge3
					a(href="#")
						.badges.badge1
					a(href="#")
						.badges.badge2
					a(href="#")
						.badges.badge4
