header 
	.container-fluid
		a.techademy(href="#")
			| Techademy
		ul.navigation
			li.homepage
				a(href="#")
					span.glyphicon.glyphicon-home
			li	
				a(href="#")
					| COURSE CATALOGUE
			li
				a(href="#")
					| MY LEARNING
			li
				a(href="#")
					| MY SKILLs
			li
				a(href="#")
					| ASSIGNMENTS
			li
